<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace绑定一个对应的mapper接口-->
<mapper namespace="Mapper.UserMapper">
<!--    结果集映射-->
<resultMap id="UserMap" type="pojo.User">
<!-- column对应Mysql中的字段名    property对应我们的java代码中的属性-->
    <result column="id" property="id"></result>
    <result column="name" property="name"></result>
    <result column="pwd" property="password"></result>
</resultMap>
    <select id="getUserList"  resultMap="UserMap">
        select * from mybatis.user where id = #{id};
    </select>

    <select id="getUserLimit" resultType="user" parameterType="map" resultMap="UserMap">
        select * from mybatis.user LIMIT #{head},#{end};
    </select>
</mapper>